.superior_container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.superior_container .formulario {
  width: 750px;
  padding: 25px;
  padding-bottom: 5px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

input {
  background: #f0f0f0;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  /* padding: 10px 20px 10px 20px;
    margin: 10px; */
}

textarea{
  resize: none;
}

/* selects */

.selections {
  width: 100%;
}

.selections > p {
  margin: 15px;
}

.selection_box {
  display: flex;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
  margin: 10px;
}
.select select {
  font-family: "Arial";
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000000;
  background: #cccccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: 18px;
  right: 10px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  border-top-color: #000000;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}

/* End selects */

.check-terms {
  display: flex;
}

.check-terms > p {
  font-size: 12px;
  margin-bottom: 0;
}

.btn_model {
  padding: 15px 25px 15px 25px !important;
  margin: 10px;
  border-radius: 10px;
  background-color: #0466c8;
  color: white;
  font-size: 14px;
}

.superior_container .select_div {
  display: flex;
  width: 100%;
}
.superior_container .names_div {
  display: flex;
  width: 100%;
}
.superior_container .names_div > * {
  flex-grow: 1;
}

.superior_container input:not([type=checkbox]) {
  width: calc(100% - 15px);
}

.superior_container .definition {
  font-size: 0.8rem;
}